<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-8">
                <form action="/search" method="POST">
                    <div>
                        <input type="text" class="form-control" name="language">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary mt-2">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <th>
                    Title
                </th>
                <th>
                    Language
                </th>
            </thead>
            <tbody>
                {{#each books}}
                    <tr>
                        <td>
                            {{title}}
                        </td>
                        <td>
                            {{language}}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>
</html>