<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4">
                <div>
                    <a href="create">Create Post</a>
                </div>
                <div>
                    <a href="/">View Posts</a>
                </div>
                <div>
                    <a href="logout">Logout</a>
                </div>
            </div>
            <div class="col-md-8">
                {{#each posts}}
                    <div>
                        <a href="edit/{{_id}}">{{title}}</a>
                    </div>
                    <div>
                        {{description}}
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</body>
</html>