<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <h1>User Form</h1>  
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <form action="/user" method="POST">
                        <input type="text" placeholder="Name" name="name" class="form-control mt-3">
                        <input type="email" placeholder="Email" name="email" class="form-control mt-3">
                        <button type="submit" class="btn btn-primary mt-3">Submit</button>
                    </form> 
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-primary">Load User Data</button>
                </div>
            </div>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <th>
                            Name
                        </th>
                        <th>
                            Email
                        </th>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
                <ul>
                    
                </ul>
            </div>
        </div>
    </body>
    <script src="js/script.js"></script>
</html>

